/* Astringer/frontend/src/app/app.component.scss */

$primary-color: #004d99; // Deep Blue, used for headers

.container {
    // Limits the application width for a desktop view
    max-width: 1000px;

    // Centers the container horizontally
    margin: 40px auto;

    // Adds padding on the sides for smaller screens
    padding: 0 20px;

    // Sets a clean, common font for the entire app
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    font-weight: 300; // Makes the title feel modern and light
}



.content-container {
    max-width: 1200px; /* Limit main content width */
    margin: 0 auto;
    padding: 20px 20px;
    min-height: calc(100vh - 100px); /* Ensure footer stays at the bottom on short pages */
}
